@use 'base/variables' as v;
@use 'base/mixins' as m;

@include m.tablet{   
    .seccion-inferior{
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 2rem;
    }
}
.entrada-blog{
    margin-bottom: 2rem;
    @include m.tablet{
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 2rem;
    }
    &:last-of-type{
        margin-bottom: 0;
    }
    border-bottom: .1rem solid v.$gris;
    &:last-of-type{
        border-bottom: none;
        margin-bottom: 5rem;
    }
}
.texto-entrada{
    a{
        color: v.$negro;
        display: block;
        margin: 2rem 0 4rem 0;
        @include m.tablet{
            margin: 0;
            border-bottom: 0;
        }
    }
    h4{
        margin: 0;
        line-height: 1.4;
        &::after{
            content: '';
            display: block;
            height: .5rem;
            width: 15rem;
            background-color: v.$verde;
            margin-top: 1rem;
        }
    }
    span{
        color: v.$amarillo;
    }
}